*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerImg{
    
    width: 920px;
    height: 460px;
    background-color: aquamarine;
    display: flex;
    margin:100px auto;
    position: relative;


}

.containerImg img{
    width:100%;
   
}

#arrowTop,#arrowBot{
    position: absolute;
    transform: translate(50% 50%);
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 50%;
    padding: 1px 4px;

}

#arrowTop{
    top: 5%;
    right: 40%;
    z-index: 3;
    
}

#arrowBot{
    bottom:5%;
    right: 40%;
    z-index: 3;


}

#scrolBar{
    width: 150px;
    height: 100%;
    
    position: absolute;
    right: 0;
    
}

.img-scrol{

    height: calc(100% / 5 - 13px / 4);
    opacity: 0.50;
    
}
.active{
    opacity: 1;
    border: 1px solid black;
}
