*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerImg{
    
    width: 500px;
    height: 350px;
    background-color: aquamarine;
    display: flex;
    margin:100px auto;
    position: relative;


}

.containerImg img{
    width:100%
    
    
   
}

#arrowTop,#arrowBot{
    position: absolute;
    transform: translate(50% 50%);
    background-color: rgba(255, 255, 255, 0.439);
    border-radius: 50%;
    padding: 1px 4px;

}

#arrowTop{
    top: 5%;
    right: 5%;
    
}

#arrowBot{
    bottom:5%;
    right: 5%;

}

